<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="komfoSharp"
      type="KomfoSharp.Configuration.Providers.AppConfig.KomfoSharpSectionHandler, KomfoSharp"
      allowLocation="false"
      allowDefinition="Everywhere" />
  </configSections>

  <komfoSharp>
    <services>
      <endpoints baseUrl="https://connect.komfo.com">
        <tokens path="/oauth20/tokens" />
        <stream path="/v1/twitter/followers/stream" maxTwitterHandlesPerCall="100" maxResultsPerCall="1000"/>
        <metrics path="/v1/twitter/followers/metrics" maxTwitterHandlesPerCall="100" />
        <customAudiences path="/v1/ads/customaudiences" />
        <customAudience path="/v1/ads/customaudiences/{audience_id}" />
        <customAudienceUsers path="/v1/ads/customaudiences/{audience_id}/users" maxEntriesPerCall="5000" />
        <customAudienceStatus path="/v1/ads/customaudiences/{audience_id}/status" />
        <campaigns path="/v1/ads/campaigns" />
        <campaignCustomAudiences path="/v1/ads/campaigns/{campaign_id}/customaudiences" />
      </endpoints>
    </services>
    <polling defaultTimeInterval="00:00:10" defaultAttemptsCount="6"/>
  </komfoSharp>
</configuration>